// COLORS

$buttonColor: #f26002;
$menuColor: #0271bc;

$lightThemeColor: #ffffff;
$themeColor: #8ccbea;
$darkThemeColor: #304268;

// FONTS

$fontBase: 'Roboto';
$fontBig: 'Roboto Slab';

// Font-colors

$fontColorBase: #000000;
$fontColorSecondary: #4a4a4a;
$fontColorLight: $lightThemeColor;