
.button__long--border{
    font-family: $fontButton;
    color: $colorButton;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
}
.button__long--background{
    font-family: $fontButton;
    color: $colorButton;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
}
