<footer class="container__page--footer" id="footer">
    <div class="container__general">
        <div class="container__section--footer">

            <a class="footer__button button__round button__round--up" href="#hero" title="go to Reasons To Purchase">
            </a>

            <nav class="footer__menu">
                <ul class="footer__menuList">
                    <li class="text__footer--menu"><a class="adalabLink" href="https://adalab.es" title="go to Adalab"
                            target="_blank">articles</a></li>
                    <li class="text__footer--menu"><a class="adalabLink" href="https://adalab.es" title="go to Adalab"
                            target="_blank">books</a></li>
                    <li class="text__footer--menu"><a class="adalabLink" href="https://adalab.es" title="go to Adalab"
                            target="_blank">events</a></li>
                    <li class="text__footer--menu"><a class="adalabLink" href="https://adalab.es" title="go to Adalab"
                            target="_blank">reasons</a></li>
                    <li class="text__footer--menu"><a class="adalabLink" href="https://adalab.es" title="go to Adalab"
                            target="_blank">tips</a></li>
                </ul>
            </nav>

            <nav class="footer__menu">
                <ul class="footer__menuList">
                    <li class="text__footer--menu"><a class="adalabLink" href="https://adalab.es" title="go to Adalab"
                            target="_blank">twitter</a></li>
                    <li class="text__footer--menu"><a class="adalabLink" href="https://adalab.es" title="go to Adalab"
                            target="_blank">instagram</a></li>
                    <li class="text__footer--menu"><a class="adalabLink" href="https://adalab.es" title="go to Adalab"
                            target="_blank">mastodon.social</a></li>
                </ul>
            </nav>

            <ul class="footer__text text__footer--text">
                <li>&copy 2020</li>
                <li>we <span class="footer__text--heart">❤︎</span> components</li>
            </ul>

        </div>
    </div>
</footer>