<header class="container__page--header" id="header">
    <div class="container__general">
        <div class="container__section--header">

            <nav class="navigation button__fixedSquare">
                <a class="navigation__link" href="https://adalab.es/" title="go to Adalab" target="_blank">
                    <img class="menuIcon" src="./assets/images/ico-menu.svg" alt="menu icon" />
                </a>
            </nav>

            <div class="hiddenHeader">
                <div class="hiddenHeader__button button__fixedRound" href="" title="open menu">
                </div>
                <nav class="hiddenHeader__menu">
                    <ul class="header__sectionList">
                        <li class="header__sectionList--item text__header--menu"><a href="#hero" title="go to anonimous proxy">anonimous</a></li>
                        <li class="header__sectionList--item text__header--menu"><a href="#main" title="go to looking through a window">looking</a></li>
                        <li class="header__sectionList--item text__header--menu"><a href="#aside" title="go to 3 reasons to purchase">reasons</a></li>
                        <li class="header__sectionList--item text__header--menu"><a href="#footer" title="go to related links">links</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</header>