<section class="container__page--hero" id="hero" role="banner">
    <div class="container__general">
        <div class="container__section--hero">

            <h1 class="hero__title text__hero--title">
                anonymous<br>proxy
            </h1>

            <p class="hero__text text__hero--text">
                In hac habitasse platea dictumst.
            </p>

            <a class="button__round button__round--down" href="#aside" title="go to Reasons To Purchase">
            </a>

        </div>
    </div>
</section>