<main class="container__page--main" id="main" role="main">
    <div class="container__general" >
        <div class="container__section--main" >

            <p class="main__textLabel text__main--textLabel" >
                insomnia tips
            </p>
            <h2 class="main__title text__main--title" >
                looking through a window
            </h2>
            <p class="main__text text__main--text" >
                Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus.Vivamus semper sodales rutrum.
            </p>

            <a class="button__long--border text__button" href="https://static3.museoreinasofia.es/sites/default/files/obras/AS02157_0.jpg" tab-index="8" title="go to the window" target="_blank" aria-label="go to related site">
                go
            </a>

        </div>
    </div>
</main>