.container__page--aside{
    width: 100vw;
    background-color: $themeColor;
}

.container__section--aside{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 184px 1fr;
    grid-template-rows: 30px 1fr 1fr 1fr 45px;
    grid-gap: 45px 0;
    .aside__title{
        width: 100%;
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .aside__article{
        width: 100%;
        grid-column: 2/3;
        grid-row: span 1;
    }
    .aside__button{
        grid-column: 1/4;
        grid-row: 5/6;
        @include centerHorizontal;
    }
}