// BOTON DE MENÚ
.button__fixedSquare{
    position: fixed;
    height: 44px;
    width: 44px;
    background-color: $menuColor;
    top: 0;
    left: 0;
    transition: box-shadow ease 1s;
    .menuIcon{
        @include centerAll;
    }    
    &:hover{
        box-shadow: 0px 0px 3px 3px $colorButton;
    }
}
.button__fixedRound{
    position: fixed;
    transform: rotate(90deg);
    height: 40px;
    width: 40px;
    background-color: $menuColor;
    top: 2px;
    right: 2px;
    border-radius: 22px;
    background-image: url(../images/ico-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: box-shadow ease 1s;
    animation-name: shake;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: normal; 
    &:hover{
        box-shadow: 0px 0px 3px 3px $colorButton;
    }
}

@keyframes shake {
    0% {
        transform: translate( 0px, 0px) rotate(90deg);
    }
    5% {
        transform: translate( 20px, 0px) rotate(90deg);
    }
    10% {
        transform: translate( 0px, 0px) rotate(90deg);
    }
    15%{
        transform: translate( 20px, 0px) rotate(90deg);
    }
    20%{
        transform: translate( 0px, 0px) rotate(90deg);
    }
    100% {
        transform: translate( 0px, 0px) rotate(90deg);
    }
}    


// BOTONES REDONDOS DE DESPLAZAMIENTO POR SECCIONES
.button__round{
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $colorThemeLight;
    transition: box-shadow ease 1s;
    &:hover{
        box-shadow: 0px 0px 3px 3px $colorButton;
    }
    &--up{
        background-image: url(../images/ico-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    &--down{
        background-image: url(../images/ico-scroll-down.svg);
        background-repeat: no-repeat;
        background-position: center;
        animation-name: down;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        @keyframes down {
            0%{
                transform: translate( 0px, 0px);
            }
            20%{
                transform: translate( 0px, 0px);
            }

            25%{
                transform: translate( 0px, 20px);
            }
            30%{
                transform: translate( 0px, 0px);
            }
            35%{
                transform: translate( 0px, 20px);
            }
            40%{
                transform: translate( 0px, 0px);
            }
            100%{
                transform: translate( 0px, 0px);
            }
        }
    }
}

// BOTONES ALARGADOS DE ENLACES EXTERNOS
.button__long--border{
    width: 76px;
    height: 45px;
    border: 2px solid $colorButton;
    border-radius: 22.5px;
    color: $colorButton;
    transition: box-shadow ease 1s, border ease 1s, color ease 1s;
    &:hover{
        box-shadow: 3px 3px 3px $colorShadow;
        border: 2px solid $darkThemeColor;
        color: $darkThemeColor;
    }
    @include mediaSize(tablet){
        width: 91px;
    }
    @include mediaSize(desktop){
        width: 160px;
    }
}
.button__long--background{
    width: 184px;
    height: 45px;
    background-color: $colorButton;
    border-radius: 22.5px;
    color: $fontColorLight;
    transition: box-shadow ease 1s, background-color ease 1s;
    &:hover{
        box-shadow: 3px 3px 3px $colorShadow;
        background-color: $darkThemeColor;
    }
    @include mediaSize(tablet){
        width: 210px;
    }
    @include mediaSize(desktop){
        width: 255px;
    }
}
