// SECTION TITLE STYLES
.text__hero--title{
    font-family: $fontBig;
    color: $fontColorLight;
    font-size: 42px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    @include mediaSize(tablet){
        font-size: 80px;
        line-height: 106px;
    }
    @include mediaSize(desktop){
        font-size: 100px;
        line-height: 132px;
    }
}
.text__main--title{
    font-family: $fontBig;
    color: $fontColorBase;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    text-transform: capitalize;
    @include mediaSize(tablet){
        font-size: 26px;
        line-height: 45px;
    }
    @include mediaSize(desktop){
        font-size: 32px;
    }
}
.text__aside--title{
    font-family: $fontBig;
    color: $fontColorBase;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    @include mediaSize(tablet){
        font-size: 26px;
        line-height: 45px;
    }
    @include mediaSize(desktop){
        font-size: 32px;
    }
}

// ARTICLE TITLE & LABEL STYLES
.text__main--textLabel{
    font-family: $fontBase;
    color: $fontColorTheme;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    text-transform: capitalize;
    @include mediaSize(desktop){
        font-size: 16px;
    }
}
.text__asideArticle__title{
    font-family: $fontBig;
    color: $fontColorBase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    @include mediaSize(tablet){
        font-size: 24px;
    }
}

// TEXT STYLES
.text__hero--text{
    font-family: $fontBase;
    color: $fontColorLight;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    @include mediaSize(tablet){
        font-size: 24px;
        line-height: 32px;
    }
}
.text__main--text{
    font-family: $fontBase;
    color: $fontColorSecondary;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    @include mediaSize(tablet){
        font-size: 20px;
    }
}
.text__aside--text{
    font-family: $fontBase;
    color: $fontColorBase;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    @include mediaSize(tablet){
        font-size: 20px;
    }
}
.text__footer--text{
    font-family: $fontBase;
    color: $fontColorLight;
    font-weight: 400;
    font-size: 14;
    line-height: 30px;
    text-align: center;
    @include mediaSize(tablet){
        text-align: left;
    }
}

// MENU ITEMS STYLES
.text__footer--menu{
    font-family: $fontBase;
    color: $fontColorLight;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: color ease 1s;
    &:hover{
        color: $colorButton;
    }
    @include mediaSize(tablet){
        text-align: left;
    }
}

// BUTTON TEXT STYLES
.text__button{
    font-family: $fontButton;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    text-transform: capitalize;
}