.container__page--footer{
    width: 100vw;
    background-color: $darkThemeColor;
}

.container__section--footer{
    position: relative;
    width: 100%;
    max-width: 730px;
    @include centerHorizontal;
    padding-top: 60px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mediaSize(tablet){
        padding-top: 45px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    @include mediaSize(desktop){
        justify-content: center;
    }
    .footer__button{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: rotate;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        @keyframes rotate {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            10% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }

    }
    .footer__menu{
        width: 100%;
        margin-bottom: 30px;
        @include mediaSize(tablet){
            width: 210px;
            margin-bottom: 0;
            margin-left: 30px;
            order: 2;
        }
        @include mediaSize(desktop){
            width: 160px;
        }
    }
    .footer__text{
        &--heart{
            color: $fontColorIcon;
        }
        @include mediaSize(tablet){
            width: 210px;
            order: 1;
        }
        @include mediaSize(desktop){
            width: 160px;
        }
    }
}