.container__page--hero{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
}

.container__section--hero{
    width: 100%;
    max-width: 730px;
    @include centerHorizontal;
    height: 100%;
    padding-bottom: 53px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @include mediaSize(tablet){
        padding-bottom: 45px;
    }
    @include mediaSize(desktop){
        padding-bottom: 13px;
    }
    .hero__title{
        margin-bottom: 10px;
        @include mediaSize(tablet){
            margin-bottom: 20px;
        }
        @include mediaSize(desktop){
            margin-bottom: 0;
        }
    }
    .hero__text{
        margin-bottom: 45px;
        @include mediaSize(tablet){
            margin-bottom: 30px;
        }
    }
}


