// COLORS

$colorThemeLight: #ffffff;
$themeColor: #eff9ff;
$darkThemeColor: #304268;

$colorButton: #f26002;
$menuColor: #0271bc;


// FONT COLORS

$fontColorBase: #000000;
$fontColorSecondary: #4a4a4a;
$fontColorTheme: #8ccbea;
$fontColorLight: $colorThemeLight;


// FONTS

$fontBase: 'Roboto';
$fontBig: 'Roboto Slab';
$fontButton: 'Roboto';
