<aside class="page__aside" id="reasons-aside">
    <div class="general__container">
        <div aside__container>
            <h2 class="main-title mainTitle capitalize">
                3 reasons to purchase
            </h2>
            <article>
                <h3 class="article-title articleTitle">
                    ut sed metus
                </h3>
                <p class="article-text articleText">
                    Lorem ipsum dolor sit amet, consecteur.
                </p>
            </article>
            <article>
                <h3 class="article-title articleTitle">
                    Curabitur ac erat
                </h3>
                <p class="article-text articleText">
                    Mauris mattis urna quis lorem molestie.
                </p>
            </article>
            <article>
                <h3 class="article-title articleTitle">
                    Morbi dictum
                </h3>
                <p class="article-text articleText">
                    Aliquam in dolor et dolor tincidunt.
                </p>
                <a class="e" href="" title="" target="_blank">
                    more reasons
                </a>    
            </article>
        </div>
    </div>
</aside>
