<footer class="container__page--footer" id="footer" >
    <div class="container__general" >
        <div class="container__section--footer" >

            <a class="footer__button button__round button__round--up" href="#header" title="go to Reasons To Purchase" >
            </a>

            <nav class="footer__menu" >
                <ul class="footer__menuList" >
                    <li class="text__footer--menuItem" >articles</li>
                    <li class="text__footer--menuItem" >books</li>
                    <li class="text__footer--menuItem" >events</li>
                    <li class="text__footer--menuItem" >reasons</li>
                    <li class="text__footer--menuItem" >tips</li>
                </ul>
            </nav>

            <nav class="footer__menu" >
                <ul class="footer__menuList" >
                    <li class="text__footer--menuItem" >twitter</li>
                    <li class="text__footer--menuItem" >instagram</li>
                    <li class="text__footer--menuItem" >mastodon.social</li>
                </ul>
            </nav>

            <p class="footer__text text__footer--text" >
                &copy 2020
            </p>
            <p class="footer__text text__footer--text" >
                we <span class="footer__text--heart" >❤︎</span> components
            </p>

        </div>
    </div>
</footer>