<footer class="container__page--footer" id="footer">
    <div class="container__general">
        <div class="container__section--footer">

            <nav class="footer-menu1">
                <ul class="link-list">
                    <li>articles</li>
                    <li>books</li>
                    <li>events</li>
                    <li>reasons</li>
                    <li>tips</li>
                </ul>
            </nav>
            <nav class="footer-menu1">
                <ul class="link-list">
                    <li>twitter</li>
                    <li>instagram</li>
                    <li>mastodon.social</li>
                </ul>
            </nav>
            <p class="copy-text">&copy 2020</p>
            <p class="footer-text">we heart components</p>

        </div>
    </div>
</footer>