<footer class="container__page--footer" id="footer" >
    <div class="container__general" >
        <div class="container__section--footer" >

            <a class="footer__button button__round button__round--up" href="#header" title="go to Reasons To Purchase" >
            </a>

            <nav class="footer__menu" >
                <ul class="footer__menuList text__footer--menu" >
                    <li>articles</li>
                    <li>books</li>
                    <li>events</li>
                    <li>reasons</li>
                    <li>tips</li>
                </ul>
            </nav>

            <nav class="footer__menu" >
                <ul class="footer__menuList text__footer--menu" >
                    <li>twitter</li>
                    <li>instagram</li>
                    <li>mastodon.social</li>
                </ul>
            </nav>

            <ul class="footer__text text__footer--text" >
                <li>&copy 2020</li>
                <li>we <span class="footer__text--heart" >❤︎</span> components</li>
            </ul>

        </div>
    </div>
</footer>