<header class="container__page--header" id="header" >
    <div class="container__general" >
        <div class="container__section--header" >

            <nav class="navigation button__fixedSquare" >
                <a class="navigation__link" href="https://adalab.es/" title="go to Adalab" target="_blank" >
                    <img class="menuIcon" src="./assets/images/ico-menu.svg" alt="menu icon" />
                </a>
            </nav>

            <h1 class="header__title text__header--title" >
                anonymous<br>proxy
            </h1>
            <p class="header__text text__header--text" >
                In hac habitasse platea dictumst.
            </p>

            <a class="button__round button__round--down" href="#aside" title="go to Reasons To Purchase" >
            </a>

        </div>
    </div>
</header>