<main class="page__main">
    <div class="general__container">
        <div class="main__container">
            <p class="titleLabel capitalize">
                insomnia tips
            </p>
            <h2 class="main-title mainTitle capitalize">
                looking through a window
            </h2>
            <p class="main-text mainText">
                Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
            </p>
            <a class="main-go-button mainButtonText capitalize" href="https://static3.museoreinasofia.es/sites/default/files/obras/AS02157_0.jpg" title="go to the window" target="_blank">
                go
            </a>
        </div>
    </div>
</main>
